body{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/*Buttons*/

.hero__btn, .informations__btn{
    background-color: #cd3d0f;
    border: 5px;
    border-radius: 50px;
    max-width: 200px;
}

.informations__btn{
    background-color: #2d64e6;
    max-width: 300px;
    margin: 40px 0;
}

.more__info__btn{
    background-color: #2d64e6;
    max-width: 300px;
    margin: 20px 0;
    border-radius: 25px;
}
.playstation__plus__btn{
    background-color: #d9dadc;
    color: #2d64e6;
    max-width: 300px;
    margin: 20px 0;
    border-radius: 25px;
}

/*F.Buttons*/

/*---Header---*/
/*top-header*/
.top__header{
    height: 36px;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: end;
    align-items: center;
}
.logo__header{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    margin-right: 20px;
}
/*f.top-header*/

/*navigation*/
.nav__chevron__down{
    height: 15px;
    width: auto;
    padding-left: 5px;
}
.nav-link{
    font-size: 18px;
    color: #000;
}
.btn__magnifying-glass{
    font-size: 20px;
}
.nav__style__text{
    color: #000;
}
.nav__style__text:hover{
    color: rgb(160, 160, 160);
    transition: 0.1s;
}
/*f.navigation*/

/*hero*/
.hero{
    width: 100%;
    height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    align-items: flex-end;
}
.hero__content{
    max-width: 550px;
    flex-direction: column;
    padding-bottom: 70px;
}
.hero__logo{
    height: 50px;
    max-width: 300px;

}
.hero__title{
    font-size: 50px;
    color: #fff;
    padding: 25px 0;
    font-weight: 500;
}
.hero__subtitle{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.hero__imgs__style a img{
    width: 100%;
    border-radius: 20px;
}
/*f.hero*/
/*---F.Header---*/


/*---Main---*/
/*f.playstation*/
.playstation__center{
    align-items: center;
}
.playstation__top{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.suptitle__playstation{
    text-transform: uppercase;
    color: #0072ce;
}
.title__playstation{
    font-size: 50px;
    margin-top: 10px;
}
.subtitle__playstation{
    font-size: 20px;
    margin-top: 30px;
    color: #727272;
}
.playstation__center__subtitle{
    font-size: 20px;
    margin-top: 30px;
    color: #727272;
}
.playstation__center__img img{
    max-width: 100%;
    display: flex;
}
.playstation__bottom {
    width: 100%;
    display: flex;
    
}
.playstation__bottom__content{
    width: 100%;
}
.playstation__bottom__content img{
    max-width: 60%;
}
.playstation__bottom__content__text{
    width: 100%;
    height: 100px;
    border-bottom: 3px solid #0072ce;
    margin-bottom: 30px;
}
/*f.playstation*/

/*take__two*/

.take__two{
    width: 100%;
    height: auto;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    align-items: flex-end;
}
.take__two__content{
    max-width: 550px;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}
.take__two__logo{
    margin-top: 50px;
    max-width: 300px;

}
.take__two__title{
    font-size: 50px;
    color: #fff;
    padding: 25px 0;
}
.take__two__subtitle{
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}
/*f.take__two*/
/*new__relise*/
.new__relise__imgs{
    background-color: #1f1f1f;
    font-size: 0;
}
.new__relise__title, .new__relise__subtitle{
    padding-top: 20px;
    color: #fff;
}
.new__relise__style{
    text-align: center;
}

.new__relise__style{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.new__relise__style a img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 20px 0;
}
.new__relise__text{
    color: #fff;
    font-size: 20px;
    text-align: left;
}
/*f.new__relise*/
/*playStation4*/
.playstation4__things .col-lg-4 img{
    width: 100%;
}
.title__playstation4{
    font-size: 30px;
}
.subtitle__playstation4{
    font-size: 20px;
    color: #727272;
    height: 100px;
    align-items: center;
}
/*f.playStation4*/
.playstation__plus{
    width: 100%;
    background-color: #bebcbb;
}
.playstation__plus__logo{
    padding: 40px 0;
    width: 350px;
}
.playstation__plus__img{
    width: 100%;
}
.subtitle__playstation__plus{
    font-size: 20px;
    color: #000;
    height: 100px;
    align-items: center;
}
.playstation__plus__align{
    align-items: center;
}
/*---F.Main---*/